@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* @layer base {
  :root {
    font-family: "Spline Sans", system-ui, sans-serif;
    color-scheme: light dark;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }

  .dark body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
} */